@font-face {
   font-family: "Agency FB";
   src: url("fonts/Agency FB Bold.eot") format("embedded-opentype"), url("fonts/Agency FB Bold.TTF") format("truetype"), url("fonts/Agency FB Bold.woff") format("woff"), url("fonts/Agency FB Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Agency FB";
   src: url("fonts/Agency FB.eot") format("embedded-opentype"), url("fonts/Agency FB.TTF") format("truetype"), url("fonts/Agency FB.woff") format("woff"), url("fonts/Agency FB.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua Bold.eot") format("embedded-opentype"), url("fonts/Book Antiqua Bold.TTF") format("truetype"), url("fonts/Book Antiqua Bold.woff") format("woff"), url("fonts/Book Antiqua Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua Bold Italic.eot") format("embedded-opentype"), url("fonts/Book Antiqua Bold Italic.TTF") format("truetype"), url("fonts/Book Antiqua Bold Italic.woff") format("woff"), url("fonts/Book Antiqua Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua Italic.eot") format("embedded-opentype"), url("fonts/Book Antiqua Italic.TTF") format("truetype"), url("fonts/Book Antiqua Italic.woff") format("woff"), url("fonts/Book Antiqua Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua.eot") format("embedded-opentype"), url("fonts/Book Antiqua.TTF") format("truetype"), url("fonts/Book Antiqua.woff") format("woff"), url("fonts/Book Antiqua.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}